{% extends "base.html" %}

{% block body_block %}
    <div class="page-header"><h1 align="center">Library Making Upload</h1></div>

    <div class="container bg-success" align="center">

        <form method="post" enctype="multipart/form-data" class="form-horizontal bg-success">
            {#    <table id="project-request" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead> <tr> Procedure Request form</tr></thead>
    <tbody>#}
            <div class="row flex-items-xs-top">

                {% for item in form %}
                    <div class="form-group form-group-lg">
                        <label class="control-label ">
                            {{ item.label }}
                        </label>
                        {{ item }}
                    </div>
                    </div>

                {% endfor %}
            {#       </tbody>
    </table>#}
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
    </form>
{% endblock %}